
# Desc: Player sample configuration file for controlling Stage devices
# Author:  Kristijan Lenac
# Date: 30 June 2010

# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides ["simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "simple.world"	
)

driver
(		
  name "stage"
  provides ["6665:position2d:0" "6665:laser:0"]
  model "robot1"
)

driver
(
  name "mbicp"
  provides ["6665:position2d:1"]
  requires ["6665:position2d:0" "6665:laser:0"]

  max_laser_range		7.9
  laserPose_x			0.16
  laserPose_y			0
  laserPose_th			0
  
  radial_window  	    0.3    
  angular_window 	    0.523333333	
  
  L		       			3.00    
  laserStep	       		1       
  MaxDistInter	       	0.5     
  filter 	       		0.95    
  ProjectionFilter		1       
  AsocError	      		0.1     
  MaxIter	       		50      
  
  errorRatio	  		0.0001  
  errx_out	       		0.0001  
  erry_out	       		0.0001  
  errt_out	       		0.0001  
  IterSmoothConv      	2       
)
